{% extends "base.html" %}
{% block page_title %}Change Password Page{% endblock page_title %}


{% block heading %}
    <h1 class="text-center my-4">
        {% if 'set_password' in request.path %}
        Update Password Form 
        {% else %} 
        Change Password Form 
        {% endif %}</h1>
{% endblock heading %}

{% block content %}
    {% load crispy_forms_tags %}
    
    <form style="width:40%; margin: auto" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="text-white bg-danger p-2 rounded">{{error}}</p>
            {% endfor %}
        {% endif %}
        <!-- {{form | crispy }} -->
        {% for field in form %}
            <div>
            {{ field.label_tag }}
            </div>
                {{ field }}
            
            {{ field.errors | striptags }}
        {% endfor %}
        <div class="mt-2">
            <input type="submit" value="{% if 'set_password' in request.path %} Update Password {% else %} Change Password {% endif %}" class="btn btn-primary">
        </div>
    </form>

{% endblock content %}