{% extends "base.html" %}
{% block page_title %}Login Page{% endblock page_title %}


{% block heading %}
    <h1 class="text-center my-4">Login Form</h1>
{% endblock heading %}

{% block content %}
    {% load crispy_forms_tags %}
    
    <form style="width:40%; margin: auto" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="text-white bg-danger p-2 rounded">{{error}}</p>
            {% endfor %}
        {% endif %}
        <!-- {{form | crispy }} -->
        {% for field in form %}
            <div>
            {{ field.label_tag }}
            </div>
                {{ field }}
            
            {{ field.errors | striptags }}
        {% endfor %}
        <div class="mt-2">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
        <p class="mt-2">New User? Please <a class="text-decoration-none" href="{% url "register" %}">Register</a></p>
    </form>

{% endblock content %}
