{% extends "base.html" %} {% load static %}
<h1>{% block page_title %} Home Page {% endblock %}</h1>
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="banner-image">
        <img src="{% static "images/res.jpg" %}" alt="Banner Image"
        class="img-fluid"/>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="p-5">
        <h2 class="home-title">
          Welcome to Our Restaurant <span class="res-name">FOOD VILLA</span>
        </h2>
        <p class="lead">
          Experience the finest in Bangali cuisine crafted by our expert chefs.
          Join us for a culinary journey filled with authentic flavors and warm
          hospitality.
        </p>
        <p class="lead">
          Our team is dedicated to providing you not just a meal but an
          unforgettable dining affair. From the moment you enter, our friendly
          staff ensures that you feel at home, guiding you through our menu and
          ensuring every dish caters to your culinary preferences.
        </p>
        <a href="{% url 'meal' %}" class="btn btn-bg btn-lg">Explore Foods</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
