.search-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#input-field {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
}
#search-btn {
  padding: 11px;
  border: none;
  background-color: slateblue;
  color: aliceblue;
  border-radius: 0 5px 5px 0;
}
